<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="error"
      internalLogFile="internal-nlog.txt"
      >
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <target name="DatabaseTarget"
            xsi:type="Database"
            connectionString="${configsetting:item=Database.ConnectionString}"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            commandType="Text"
            commandText="INSERT INTO [log].[Log] (Logged,Level,LogMessage,Exception,StackTrace,Path,Json,Ip) VALUES (@Logged, @Level, @Message, @Exception, @StackTrace,@Path,@Json,@Ip)">
      <install-command 
        commandType="Text" 
        ignoreFailures="true"
        text="
          IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[log].[Log]') AND type in (N'U'))
          CREATE TABLE [log].[Log]
          (
          Id bigint primary key not null identity(1,1),
          Logged datetime2,
          Level nvarchar(10),
          LogMessage nvarchar(max),
          Exception [nvarchar](max) NULL,
          StackTrace [nvarchar](max) NULL,
          Path [nvarchar](max) NULL,
          Json  [nvarchar](max) NULL,
          Ip [varchar](40) NULL
          );"/>
      <uninstall-command 
        commandType="Text" 
        ignoreFailures="true"
        text="
          IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[log].[Log]') AND type in (N'U'))
          DROP TABLE [log].[Log]"/>
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout=" ${exception:format=type,message,method:maxInnerExceptionLevel=10:innerFormat=shortType,message,method:innerExceptionSeparator=\n}" />
      <parameter name="@StackTrace" layout="${exception:format=StackTrace}" />
      <parameter name="@Json" layout="${aspnet-request-posted-body}" />
      <parameter name="@Path" layout="${aspnet-request-url} ${aspnet-request-querystring}" />
      <parameter name="@Ip" layout="${aspnet-request-ip}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="DatabaseTarget" />
  </rules>
</nlog>