<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="error"
      internalLogFile="internal-nlog.txt"
      >
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<variable name="bodyJson" value="${replace:searchFor=\\\Spassword\\\S\\\S\\\s&quot;(?'pass'(.*))&quot;,:replaceWith=******:compileRegex=true:regex=true:replaceGroupName=pass:inner=${aspnet-item:bodyKey}}" />

	<targets async="true">
		<target name="logconsole" xsi:type="ColoredConsole" />

		<target name="MongoDatabaseTargetError"
						xsi:type="Mongo"
						databaseName="LogsError"
						collectionName="Api-Template">
			<connectionString>${configsetting:item=DatabaseLogMongo.ConnectionString}</connectionString>
			<field name="Details" bsonType="Object">
				<layout type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="10">
					<attribute name="ThreadID" layout="${threadid}" encode="false" />
					<attribute name="ProcessID" layout="${processid}" encode="false" />
					<attribute name="ProcessName" layout="${processname:fullName=true}" />
					<attribute name="RequestQuery" layout="${aspnet-request-querystring}" />
					<attribute name="RequestBody" layout="${bodyJson}"/>
					<attribute name="Username" layout="${aspnet-item:userNameKey}"/>
					<attribute name="Ip" layout="${aspnet-request-ip}" />
				</layout>
			</field>
		</target>

		<target name="MongoDatabaseTargetRequest"
							xsi:type="Mongo"
							databaseName="LogsRequest"
							collectionName="Api-Template">
			<connectionString>${configsetting:item=DatabaseRequestMongo.ConnectionString}</connectionString>
			<field name="Details" bsonType="Object">
				<layout type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="10">
					<attribute name="ThreadID" layout="${threadid}" encode="false" />
					<attribute name="ProcessID" layout="${processid}" encode="false" />
					<attribute name="ProcessName" layout="${processname:fullName=true}" />
					<attribute name="RequestQuery" layout="${aspnet-request-querystring}" />
					<attribute name="RequestBody" layout="${bodyJson}"/>
					<attribute name="Username" layout="${aspnet-item:userNameKey}"/>
					<attribute name="Ip" layout="${aspnet-request-ip}" />
				</layout>
			</field>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />

		<logger name="*" level="Error" final="true" writeTo="MongoDatabaseTargetError" />

		<logger name="Shared.*"  minlevel="Debug" writeTo="MongoDatabaseTargetRequest" />

	</rules>
</nlog>