<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="error"
      internalLogFile="internal-nlog.txt"
      >
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <target xsi:type="Console" name="Console" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />
  </rules>
</nlog>